<nav class="navbar navbar-dark bg-primary mb-4">
    <div class="">
        <a class="navbar-brand" href="/">Pollster</a>
        {% if user.is_authenticated %}
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" 
               data-toggle="dropdown" aria-haspopup="true" 
               aria-expanded="false">Меню</a> 
            <div class="dropdown-menu" style="left: auto !important; right: 0 !important;">
                <a class="dropdown-item" href="{% url 'polls:profile' %}">Посмотреть профиль</a>
                <a class="dropdown-item" href="{% url 'polls:index' %}">Посмотреть опросы</a>
                <a class="dropdown-item" href="#">Создать опрос</a>
                <a class="dropdown-item" href="#">Изменить личные данные</a>
                <form method="post" action="{% url 'polls:logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="dropdown-item">Выйти</button>
                </form>
                <a class="dropdown-item" href="#">Удалить</a>
            </div>
        </div>
        {% else %}
        <a class="p-2 text-dark" href="#">Регистрация</a> 
        <a class="p-2 text-dark" href="{% url 'polls:login' %}">Вход</a> 
        {% endif %}
    </div>
</nav>